<% if current_user %>
  <li class="chip hide-on-large-only">
    <%= render('/helpers/user_chip') %>
  </li>
<% end %>
<li><a href="<%= listings_path %>">All Listings</a></li>
<% if current_user %>
  <% if session[:listing_id] %>
    <li><a href="/listings/<%= session[:listing_id] %>">My Listing</a></li>
  <% else %>
    <li><a href="/listings/new">List My Property</a></li>
  <% end %>
  <li><a href="/logout">Logout</a></li>
  <li class="chip hide-on-med-and-down">
    <%= render('/helpers/user_chip') %>
  </li>
<% else %>
  <li><a href="/users/new">Landlord Sign-up</a></li>
  <li><a href="/login">Landlord Login</a></li>
<% end %>
