
<nav>
  <ul id="nav-mobile" class="right hide-on-med-and-down">
    <%= render('/helpers/nav_links') %>
  </ul>
  <ul id="slide-out" class="side-nav">
    <%= render('/helpers/nav_links') %>
  </ul>
  <a href="#!" data-turbolinks="false" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
</nav>
