<a href="/users/<% @current_user.id %>">
  <img src="https://en.gravatar.com/userimage/2721275/d570d6c3f6c984c00bd8fb44c98b30da.png?size=32" alt="gravatar of <%= current_user.name %>" />
  <span><%= current_user.name %></span>
</a>
