<!DOCTYPE html>
<html>
  <head>
    <title><% yield(:title) %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

  </head>

  <body class="blue-grey lighten-0">
    <nav>
      <div class="nav-wrapper blue-grey lighten-1">
       <a href="#" class="brand-logo">Logo</a>

       <% render() %>

     </div>
    </nav>
    <div class="container">

    <% yield(:main) %>
